{{ define "header" }}
<header class="sticky-top shadow-sm" style="background-color: #f8f4e3;">
    <div class="container d-flex justify-content-between align-items-center py-3">
        <!-- Лого -->
        <div class="fw-bold fs-4">
            <a href="/" class="text-dark text-decoration-none">GoQuotes</a>
        </div>

        <!-- Навигация -->
        <nav>
            <a href="#" class="text-dark text-decoration-none mx-2">Добавление цитаты</a>
            <a href="#" class="text-dark text-decoration-none mx-2">Цитаты</a>
            <a href="#" class="text-dark text-decoration-none mx-2">Случайная цитата</a>
            <a href="#" class="text-dark text-decoration-none mx-2">Профиль</a>
            <a href="/privacy" class="text-dark text-decoration-none mx-2">Политика конфиденциальности</a>
        </nav>
    </div>
</header>
{{ end }}
